<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Financial Budget</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>


    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <a  class="navbar-brand">Financial Budget</a>
            </div>


    </div>


</body>
</html>