<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:text-decoration="http://www.w3.org/1999/xhtml"
      xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:color="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Financial Budget</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>

    <div th:fragment="page-header">

       <!-- <nav class="navbar navbar-custom">

            <a class="navbar-brand"  href="#">Financial Budget</a>
            <a class="navbar-brand" th:href="@{/category-view}">Category</a>
            <a class="navbar-brand" href="#">Expenses</a>
            <a  class="navbar-brand" href="#">View History</a>

        </nav>-->
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#"><h2>Financial Budget</h2></a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category-view}" ><h4>Category</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><h4>Expenses</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><h4>View History</h4></a>
                </li>
            </ul>
        </nav>
    </div>

    <div th:fragment="page-header1">
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#"><h2>Financial Budget</h2></a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><h4>Home</h4></a>
                </li>

            </ul>
        </nav>
    </div>

</body>
</html>