<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>
<div th:align="center">
    <h1>Update Expense</h1>
    <form method="post" th:action="@{/updateExpense}"  th:object="${expense}" style="max-width:600px;">
        <div class="form-group">
            <input id="id" th:field="${expense.id}" type="hidden"/>
        </div>
        <div class="form-group">
            <label th:for="amount">Expense Amount</label>
            <input class="form-control" th:field="${expense.expense_amount}" />
            <span th:errors="${expense.expense_amount}" class="error"></span>
        </div>

        <input type="submit" value="Update"  class="btn btn-primary btn-sm mb-3"/>
    </form>
</div>
</body>
</html>