<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head">-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Financial Pie chart</title>-->
<!--    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
<!--    <script type="text/javascript">-->

<!--        // Load the Visualization API and the corechart package.-->
<!--        google.charts.load('current', {'packages':['corechart']});-->

<!--        // Set a callback to run when the Google Visualization API is loaded.-->
<!--        google.charts.setOnLoadCallback(drawChart);-->

<!--        // Callback that creates and populates a data table,-->
<!--        // instantiates the pie chart, passes in the data and-->
<!--        // draws it.-->
<!--        function drawChart() {-->

<!--            // Create the data table.-->
<!--            var data = new google.visualization.DataTable();-->
<!--            data.addColumn('string', 'Topping');-->
<!--            data.addColumn('number', 'Slices');-->
<!--            data.addRows([-->
<!--                ['Mushrooms', 3],-->
<!--                ['Onions', 1],-->
<!--                ['Olives', 1],-->
<!--                ['Zucchini', 1],-->
<!--                ['Pepperoni', 2]-->
<!--            ]);-->

<!--            // Set chart options-->
<!--            var options = {'title':'How Much Pizza I Ate Last Night',-->
<!--                'width':400,-->
<!--                'height':300};-->

<!--            // Instantiate and draw our chart, passing in some options.-->
<!--            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));-->
<!--            chart.draw(data, options);-->
<!--        }-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments :: page-header"></div>-->
<!--<h1>Financial Pie chart</h1>-->
<!--<div id="chart_div"></div>-->
<!--</body>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <title>Google Charts With Thymeleaf</title>
    <!--Load the AJAX API-->
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Financial Budget</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" th:inline="javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'CategoryName');
            data.addColumn('number', 'ExpenseAmount');
            var data1 = [[${chartData}]];
            data.addRows([[${chartData}]]);



            // Set chart options
            var options = {'title':'Financial PieChart',
                'width':400,
                'height':400};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
<div th:replace="fragments :: page-header"></div>
<h1>Financial PieChart</h1>
<div id="chart_div" th:align="center"></div>
</body>
</html>